body{
  margin:0;
  font-family:sans-serif;
  background:#f5f5f5;
}

.top-bar{
  padding:12px;
  background:#111;
  color:#fff;
  text-align:center;
}

.filter-bar{
  display:flex;
  gap:10px;
  padding:10px;
}

.products{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
  gap:14px;
  padding:14px;
}

.product-card{
  background:#fff;
  border-radius:14px;
  padding:10px;
  text-align:center;
  box-shadow:0 6px 18px rgba(0,0,0,.1);
  transition:.3s;
}

.product-card:hover{
  transform:scale(1.04);
}

.product-card img{
  width:100%;
  border-radius:10px;
}

.btn{
  display:block;
  margin-top:8px;
  padding:8px;
  background:#000;
  color:#fff;
  border-radius:20px;
  text-decoration:none;
}

/* PRODUCT DETAIL */
.product-detail{
  padding:20px;
  text-align:center;
}

.buy-btn{
  display:inline-block;
  padding:12px 22px;
  background:#ff5722;
  color:#fff;
  border-radius:30px;
  text-decoration:none;
  margin-top:12px;
}

/* FOOTER */
.footer{
  background:#111;
  color:#ccc;
  padding:26px 18px;
  text-align:center;
}